.mycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: lightskyblue;
    width:100%;
    height: 80px;
}
.mycontainer:nth-child(1) {order: 0;}
.myitem{
    display: flex;
    height: 40px;
    width:100px;
    flex-direction: row;

}