<h2> topics</h2>
<table>
    <tr>
        <th> id</th>
        <th>name</th>
        <th>description</th>
        <th>author</th>
        <th>comment</th>
    </tr>
    <tr *ngFor="let item of topic">
      <td>{{item.id}}</td>
       <td (click)="comClicked(item)">{{item.name}}</td>
       <td>{{item.description}}</td>
       <td>{{item.author}}</td>
       <td>{{item.comment}}</td>

    </tr>
</table>
<hr>
name<input type="text" [(ngModel)]="mTopic.name"/><br>
desc<input type="text" [(ngModel)]="mTopic.description"/><br>
author<input type="text" [(ngModel)]="mTopic.author"/><br>
comments<input type="text" [(ngModel)]="mTopic.comments"/><br>
<button (click)="updateMovies()">PUT</button>
<button (click)="createMovies()">POST</button>
<button (click)="deleteMovies()">DELETE</button>

<div fxLayout="row wrap">
    <div>items</div>
    <div>items</div>
    <div>items</div>
    <div>items</div>
</div>
<router-outlet></router-outlet>
