/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html{
    height:100%
}
body { margin: 1 0 0 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background:lightgrey;
  

}